.venv
venv

__MACOSX
simple_audio.ipynb
mini_speech_commands
mini_speech_commands.zip
api_cache
bird_recordings.csv
bird_recordings
.vscode
__pycache__
best_model.pkl

api_responses
downloaded_recordings

*.egg-info

*.pkl
